@font-face {
  font-family: 'thaisansneue';
  src: url('thaisansneue-regular-webfont.woff2') format('woff2'),
    url('thaisansneue-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'thaisansneue-semibold';
  src: url('thaisansneue-semibold-webfont.woff2') format('woff2'),
    url('thaisansneue-semibold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'thaisansneue-ultrabold';
  src: url('thaisansneue-ultrabold-webfont.woff2') format('woff2'),
    url('thaisansneue-ultrabold-webfont.woff') format('woff');
  font-weight: bolder;
  font-style: normal;
}
