@import "bootstrap/scss/_functions.scss";
@import "bootstrap/scss/_variables.scss";

// Import Bootstrap
@import "bootstrap/scss/bootstrap.scss";
@import 'bootstrap-vue/dist/bootstrap-vue.css';
@import 'vue-search-select/dist/VueSearchSelect.css';

body {
  font-family: "Open Sans",'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.5;
  color: #353a40;
  text-align: left;
  background-color: #fff
}
footer {
  background: #fafbfc;
  border-top: 1px solid #e6e6e6;
  color: #a3a6ad;
  a, a:hover {
    color: #16c464;
  }
  p {
    padding: 15px 0;
    margin: 0px;
    font-size: .8rem;
  }
}
.nav-tabs {
  min-height: 40px;
}


.menu {
  font-size: .85rem;
  padding: 0rem 1.25rem;
  > a.nav-link {
    background-color: transparent;
    color: #212529;
    border-bottom: transparent solid 3px;
    border-radius: 0px;
    padding: 0.5rem 1rem;
    font-weight: bold;
    &.nuxt-link-active {
      border-bottom-color: #00B900 !important;
    }
    &:hover {
      border-bottom-color: rgba(0, 185, 0, 0.3);
    }
  }
}

  .aside-bar {
    margin-left: -15px;
    margin-right: -15px;
    > .aside {
      min-height: calc(100vh - 9.84em);
      flex: 0 0 280px;
      background: #f8f9fa;
      > ul.card-header {
        font-size: .85rem;
        background: transparent;
        .nav-link {
          background-color: transparent;
          color: #212529;
          border-radius: 0px;
          padding: 0.5rem 1rem;
          &.active {
            background-color: transparent;
            color: #16c464;
          }
        }
      }
    }
  }
table {
  th {
    background-color: rgb(245, 245, 245);
  }
}
pre {
  display: table;
  word-break: break-all;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.15);
  border-image: initial;
  width: 100%;
  background-color: rgb(41, 43, 54);
  color: rgb(255, 255, 255);
  position: relative;
  padding: 5px 10px;
  border-radius: 6px;
  margin: 10px 0px 20px;
  &.language-html {
    margin: 35px 0px 15px;
    &::before {
      content: attr(data-type);
      position: absolute;
      top: -25px;
      left: 0px;
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 600;
      font-size: 12px;
      display: inline-block;
      text-transform: uppercase;
      background-color: rgb(51, 135, 204);
      color: rgb(255, 255, 255);
      padding: 0px 8px;
      border-radius: 6px;
    }
    &[data-type="get"]::before {
      background-color: green;
    }
    &[data-type="put"]::before {
      background-color: rgb(229, 197, 0);
    }
    &[data-type="post"]::before {
      background-color: rgb(64, 112, 236);
    }
  }
  code {
    display: block;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    overflow-wrap: normal;
    white-space: pre;
  }
}
.input-group {
  > .input-group-text {
    padding: 0.243rem 0.75rem;
    font-size: .9rem;
    font-weight: bold;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  > .form-control {
    margin-left: -1px;
  }
}
